*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #fff;
}
.sidebar_container{
    display: flex;
    position: relative;
    
}
.sidebar_container .sidebar{
    /* background-color: #ef8120; */
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 280px;
    height: 95%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    
}
.sidebar_container .sidebar h1{
    color: white;
    text-align: center;
    margin-top: 10px;
    background-color: #ef8120;
}
.sidebar_container .sidebar ul li{
    font-size: 28px;
    padding: 10px;
    border-bottom: 1px solid white;
    float: right;
}
.sidebar_container .sidebar ul li i{
    margin-left: 30px;
    color: black;
}
.sidebar_container .sidebar ul li a{
    display: block;
    color: black;
    padding: 10px;
}
.sidebar_container .sidebar ul li a:hover{
    background-color: #ef8120;
    color: white;
}
.sidebar_container .content_sec{
    width: 70%;
    margin-left: 40px;
    padding: 20px;
}
.sidebar_container .content_sec label{
    display: block;
    margin-bottom: 5px;
    font-size: 40px;
    margin-right: 40px;
    text-align: right;
}
.sidebar_container .content_sec input{
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ef8120;
}
.sidebar_container .content_sec .add{
    background-color: #ef8120;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.sidebar_container .content_sec .add:hover{
    background-color: #A18D6D;

}
.sidebar_container table{
    background-color: #fff;
    width: 100%;
    border-collapse: collapse;
}
.sidebar_container table th,td{
    font-size: 22px;
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}
.sidebar_container table th{
    background-color: #f0f0f0;
}
.sidebar_container table .delet{
    color: black;
    font-size: 18px;
    background-color: #ef8120;
    padding: 8px 18px;
    border-radius: 2px;
    border: 1px solid #ef8120;
    margin-right: 5px;
    cursor: pointer;
}
.sidebar_container table .delet:hover{
    background-color: #A18D6D ;
    color: white;
}
.update{
    color: white;
    font-size: 18px;
    background-color:#703B3B;
    padding: 8px 18px;
    border-radius: 2px;
    border: 1px solid #703B3B;
    margin-right: 5px;
    cursor: pointer;
}
.update:hover{
    background-color: #ef8120;
    color: black;
}
.sidebar_container table img{
    width:50px;
    height:50px;
}
/* start product css */
.form_product{
    width: 70%;
    margin: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}
h1 {
    padding: 10px;
    color: #351d08ff;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}

input {
    width: 80%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #e67e22;
    border-radius: 4px;
}

.button {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #35260e;
    border: none;
    cursor: pointer;
    font-size: 28px;
    color: white; 
}

.button:hover {
    background-color: #ef8120;
    color: white;
}


#form_control{
    width: 80%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* end product css */